@import '../../styles/variables';

.prompt-entry{
    display: flex;
    justify-content: center;
    align-content: center;

    &__img{
        width: 75vw;
        height: 30vh;
    }
    &__title{
        color: $secondary-color;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
    }
}

.entry{

    &__title{
        padding: 20px;
        width: 80vw;
    }
    &__text-area{
        padding: 100px;
        width: 80vw;
    }
}